html {
    font-size: 6.25%;
}

/* 1rem = 1px */

body {
    font-size: 16rem;
    word-break: keep-all;
}


p {
    line-height: 1.375;
}

/* line-height: 3rem + 3rem */

.inner {
    max-width: 1200rem;
    margin: 0 auto;
    padding: 0 15rem;
}

.section {
    position: relative;
    padding: 100rem 0;
}

.section .title {
    max-width: 1200rem;
    margin: 0 auto 30rem auto;
    padding: 0 15rem;
}

.section .title h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 10rem 0;
}